# Crop Yield T-Test Analysis
This notebook performs independent t-tests on crop yield data using Python.

In [ ]:
import pandas as pd
from scipy.stats import ttest_ind

In [ ]:
# Load the dataset
df = pd.read_csv("crop_yield.csv")
df.head()

In [ ]:
# Group the data
group_A_high_water = df[(df['Fert'] == 'A') & (df['Water'] == 'High')]['Yield']
group_A_low_water = df[(df['Fert'] == 'A') & (df['Water'] == 'Low')]['Yield']
group_B_high_water = df[(df['Fert'] == 'B') & (df['Water'] == 'High')]['Yield']
group_B_low_water = df[(df['Fert'] == 'B') & (df['Water'] == 'Low')]['Yield']

group_A_high_water, group_A_low_water, group_B_high_water, group_B_low_water

In [ ]:
# T-Test for Group A
t_statistic_A, p_value_A = ttest_ind(group_A_high_water, group_A_low_water)
print('t_statistic_A, p_value_A =', t_statistic_A, p_value_A)

In [ ]:
# Conclusion for Group A
print('Conclusion for Group A:')
if p_value_A < 0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

In [ ]:
# T-Test for Group B
t_statistic_B, p_value_B = ttest_ind(group_B_high_water, group_B_low_water)
print('t_statistic_B, p_value_B =', t_statistic_B, p_value_B)

In [ ]:
# Conclusion for Group B
print('Conclusion for Group B:')
if p_value_B < 0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")